<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Story Manager - Add new Story</title>
    </head>
    <body>
        <form method="post">
            <fieldset style="width:500px">
                <h2>User Story Manager - Add new Story</h2>
                <p>Story title <br/> </p>
                <textarea rows="1" cols="80" name="title" required></textarea>
                <p> User story <br/></p>
                <textarea rows="8" cols="80" name="story" required></textarea>
                <p>Acceptance criteria <br></p>
                <textarea rows="8" cols="80" name="criteria" required></textarea>
                <p>Business value</p>
                <input type="number" name="value" value="100" min="100" max="1500" step="100">
                <p>Estimation (h)</p>
                <input type="number" name="estimation" value="0.5" min="0.5" max="40" step="0.5">
                <p>Status</p>
                <select name="status">
                    <option>Planning</option>
                    <option>To Do</option>
                    <option>In Progress</option>
                    <option>Review</option>
                    <option>Done</option>
                </select>
                <input type="submit" value="create">
            </fieldset>
        </form>
    </body>
</html>
