{% set title = "" %}
{% set story = "" %}
{% set criteria = "" %}
{% set value = 100 %}
{% set estimation = 0.5 %}
{% if user_story %}
    {% set title = user_story.story_title %}
    {% set story = user_story.user_story %}
    {% set criteria = user_story.acceptance_criteria %}
    {% set value = user_story.business_value %}
    {% set estimation =user_story.estimation %}
{% endif %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Story Manager - {{ action }}</title>
    </head>
    <body>
        <form method="post">
            <fieldset style="width:500px">
                <h2>User Story Manager - {{action}}</h2>
                <p>Story title <br/> </p>
                <textarea rows="1" cols="80" name="title" required>{{ title }}</textarea>
                <p> User story <br/></p>
                <textarea rows="8" cols="80" name="story" required>{{ story }}</textarea>
                <p>Acceptance criteria <br></p>
                <textarea rows="8" cols="80" name="criteria" required>{{ criteria }}</textarea>
                <p>Business value</p>
                <input type="number" name="value" value={{value}} min="100" max="1500" step="100">
                <p>Estimation (h)</p>
                <input type="number" name="estimation" value={{estimation}} min="0.5" max="40" step="0.5">
                <p>Status</p>
                <select name="status">
                    <option>Planning</option>
                    <option>To Do</option>
                    <option>In Progress</option>
                    <option>Review</option>
                    <option>Done</option>
                </select>
                <input type="submit" value={{ action }}>
            </fieldset>
        </form>
    </body>
</html>
